<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Docs</title>
</head>
<body>
    <h1>Line-clone Docks</h1>
    <hr>
    <h2>유저 정보 조회</h2>
    <hr>
    <h3>유저 아아디 : /id/{id}</h3>
    <h3>유저 닉네임 : /nickname/{nickname}</h3>
    <h3>유저 이름 : /name/{name}</h3>
    <h3>유저 메세지 : /profileMsg/{p-msg}</h3>
    <h3>유저 프로필 사진 : /profileImage/{p-img-url}</h3>
    <h3>유저 프로필 배경 사진 : /profileImageBack/{p-img-b-url}</h3>
    <h3>유저 친구 목록 : /friendList/{friendList}</h3>
    <h2>채팅 내역</h2>
    <hr>
    <h3>대화 상대 리스트 : /chat/{id}</h3>
    <h3>대화 내용 : /chat/{id}/{chat}</h3>
    <h2>게시글</h2>
    <hr>
    <h3>포스트 게시글 : /post/{post}</h3>
    <h3>공유한 게시글 : /share/{share}</h3>
    <h2>채팅 정보 조회</h2>
    <hr>
    <h3>개인 프로필 : /profile/{id}{nickname}{name}{p-msg}{p-img-url}{p-img-b-url}</h3>
    <h3>채팅 정보 : /chat/{id}/{id}</h3>
    <h3>게시글 정보 : /post/{id}/{post}</h3>
    <h3>공유 정보 : /share/{id}/{share}</h3>
    <hr>
    <h4>
        어떻게 받아오는 지는 알아 볼 필요가 있음.
        위 데이터는 현재 제작한 뷰에서 간단하게 사용하는 용도라 데이터가 다소 제약적으로 보임.
    </h4>
</body>
</html>